<!DOCTYPE html>
<html>
<head>
	<title>Continuous Scrolling Example</title>
	<script type="text/javascript" charset="utf-8" src="../public/jquery-1.6.4.js"></script>
	<script type="text/javascript" charset="utf-8" src="../public/underscore.js"></script>
	<script type="text/javascript" charset="utf-8" src="../public/backbone.js"></script>
	<link rel="stylesheet" href="test.css"></link>
<!--
	<style type="text/css">
	.scroll-container {
		height: 185;
	}
	.chunk {
		height: 175px;
	}
	.chunk-first {
		height: 265px;
	}
</style>
-->
<style type="text/css">
	.scroll-container {
		height: 370px;
	}
	.chunk {
		height: 355px;
	}
	.chunk-first {
		height: 450px;
	}
</style>
</head>
<body>
    <div class="scroll-outer-container">
		  <div class="scroll-container">
				<ul class="scroll-list">
					<div data-index="0" class="chunk chunk-first">
				  </div>
				</ul>
		  </div>
    </div>
</body>

<script type="text/javascript" charset="utf-8">
	var itemTemplate = '<% _.each(items, function(item) { %> <div data-index="<%= item %>" class="chunk"></div> <% }); %>';
	$(".scroll-list").append(_.template(itemTemplate, {'items' : _.range(1, 100)}));

	// TODO resize the container dynamically
	var itemsPerChunk = 8;
	var initialItemsToLoad = 16;
	var itemHeight = 50; // includes margins
	var itemMargin = 5;
	var loadDelay = 50; // the time the active chunk must not change
</script>
<script type="text/javascript" charset="utf-8" src="../continous-scrolling.js"></script>
<script type="text/javascript" charset="utf-8">
	// load first chunk
	loadChunk(0, initialItemsToLoad);
</script>
</html>
